

#owpa-settings.wrapper { margin: 5px 15px 2px; }


#owpa-settings .owpa-tab .tab-button {
    display: inline-block;
    padding: 12px 16px 12px 6px;
    margin: 0 6px -1px 0;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

#owpa-settings .owpa-tab-buttons .owpa-save { float: right; }
#owpa-settings .owpa-tab-buttons .tab-button.active .dashicons.arrow-close  { display: none; }
#owpa-settings .owpa-tab-buttons .tab-button .dashicons.arrow-open  { display: none; }
#owpa-settings .owpa-tab-buttons .tab-button.active .dashicons.arrow-open { display: inline; }
#owpa-settings .owpa-tab-buttons .tab-button.active { border-bottom-color: #fafafa; background-color: #fafafa; }

#owpa-settings .owpa-tab .tab-page,
 #owpa-settings .owpa-settings-message {
    background-color: #fafafa;
    padding: 0 18px 18px;
    border: 1px solid#ccc;
}

#owpa-settings .owpa-tab .tab-page.hidden {
    display: none;
}

#owpa-settings .owpa-tab .tab-page h4 {
	font-style: italic;
	font-weight: bold;
	margin: .5em;
}

#owpa-settings .description {
	padding: 0 0 .5em 2em;
}
#owpa-settings .owpa-tab .tab-page h4 { margin-left: 0; }

#owpa-settings .area {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
    padding: 0 1em;
    margin: 16px 0;
}

#owpa-settings .area .control, 
#owpa-settings .tab-page .control {
	margin: 1em 0;
}

#owpa-settings .area .control input[type="text"],
#owpa-settings .area .control select,
#owpa-settings .tab-page .control input[type="text"],
#owpa-settings .tab-page .control select {
	margin: 0 2em;
	width: 26em;
}
#owpa-settings .area .control .description,
#owpa-settings .tab-page .control .description {
	font-style: italic;	
}

#owpa-settings .area .control input[type="checkbox"],
#owpa-settings .tab-page .control input[type="checkbox"] {
	margin: 0 .5em 0 0;
	width: 1em;
}

#owpa-settings .button-list {
    margin: .5em 0;   
}

#owpa-settings .owpa-settings-message { border-radius: 10px; padding: 0; }
#owpa-settings .owpa-settings-message .message-header { display: block; height: 1.5em; border-top-left-radius: 10px; border-top-right-radius: 10px; }
#owpa-settings .owpa-settings-message.alert .message-header { background-color: #ca4a1f; }
#owpa-settings .owpa-settings-message.info .message-header { background-color:  #0073aa; }
#owpa-settings .owpa-settings-message .message-body { padding: .7em; }
#owpa-settings .owpa-settings-message .message-row { padding-bottom: 1em; }
#owpa-settings .owpa-settings-message .button-row { text-align: right; }
#owpa-settings .owpa-settings-message .inner-icon { float: left; width: 3em; }
#owpa-settings .owpa-settings-message .inner-icon .dashicons { font-size: 2em; }
#owpa-settings .owpa-settings-message .inner-message  { padding-top: .2em; }
#owpa-settings .owpa-settings-message.alert .inner-icon,
#owpa-settings .owpa-settings-message.alert .inner-message { color: #ca4a1f; }
#owpa-settings .owpa-settings-message.info .inner-icon,
#owpa-settings .owpa-settings-message.info .inner-message { color: #0073aa }